.container {
    display: flex;
    gap: 20px;
}
.art-1-img{
    position: relative;
}
.fa-eye{
    background-color: orange;
    color: white;
    border-radius: 50%;
}
.view-count{
    display: flex;
    align-items: center;
    height: 40px;
    width: 200px;
    position: absolute;
    top: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding-bottom: 30px;
}
.title{
    position: absolute;
    top: 160px;
    width: 180px;
    background-color: white;
    padding: 10px;
}

.art-2-img{
    position: relative;
}
.car-title{
    position: absolute;
    top: 140px;
    width: 190px;
    padding-top: 10px;
    padding-left: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.subtitle{
    font-size: 10px;
    color: rgb(180, 177, 177);
}

.automotive-text{
    display: flex;
    position: absolute;
    border-radius: 4px;
    left:12px;
    width: 55px;
    background-color: red;
    padding: 2px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9px;
}

.art-3-img{
    position: relative;
}

.latest-thinking-title{
    position: absolute;
    top: 215px;
    width: 190px;
    height: 75px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;  
}

.arrow-btn {
    position: absolute;
    left: 60px;
    bottom: 2px;
    width: 10px;
    height: 10px;

    border-radius: 50%;
    background: transparent;
    border: 2px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
}
.explore-btn{
    font-size: 10px;
    position: absolute;
}