*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif; 
}
.header {
    height: 148px;
    background-color: #292d34;
    position: relative;
}
.main-title {
    color: white;
    padding: 48px 0;
    padding-left: 8px;
    display: inline-block;
    font-weight: bold;
}
.nav-title {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 42%;
    right: 24px;
}

.nav-title span:first-child {
    margin-right: 20px;
}
.nav-title span:nth-child(2) {
    margin-right: 20px;
}

.main-container {
}
.main {
    height: 228px;
    text-align: center;
    padding: 32px 0;
    position: relative;
    background-color: #f1f1f1;
}
.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid black;
    position: absolute;
    right:82%;
   
}
.description {
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
}
.my-projects {
    height: 173px;
}
.title-myprojects{
    padding-top: 32px;
    padding-bottom: 12px;
}
.project-item{
    width: 320px;
    height: 60px;
    background-color: #292d34;
    color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px 12px;
    display: inline-block;
    margin-right: 24px;
}
.project-main{
    text-align: center;
}
.footer {
    font-size: 16px;
    background-color: #f1f1f1;
    height: 73px;
    text-align: center;
    padding: 28px 0;
}
.footer a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

