*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    margin: 64px auto;
    width: 800px;
    height: 500px;
    background-color: #f0f0f0;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parent .child{
    width: 150px;
    height: 150px;
    color: white;
    background-color: #3598da;
    text-align: center;
    padding: 64px 0;
}